body,
html {
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  color: rgb(222, 90, 0);
  background-color: black;
}

#myButton {
  background-color: green;
  border: 2px solid black;
  margin: auto;
  padding: 20px 20px;
  display: block;
  margin: 0 auto;
  font-size: 100%;
}



.lista-completa h3 {  
  text-align: center;
  padding: 0;  
  
}
.lista-completa ul {
  
  list-style: none; 
  padding-left: 35%;
}

.lista-presente h3 {  
  
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  
}

.lista-presente ol {
  text-align: left;
  padding-left: 35%;
  
}
