body,
html {
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  color: rgb(222, 90, 0);
  background-color: black;
}
/* ******Botões************ */
#myButton {
  border: px solid black;
  margin: auto;
  padding: 10px 10px;
  /* reduzir o preenchimento */
  display: block;  
  /* reduzir o tamanho da fonte */
  border-radius: 20px;
  /* bordas arredondadas */
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.botao-com-legenda {
  display: block;
  text-align: center;
}
.legenda {
  font-size: 14px;
}


.go-back {  
  display: flex;
  justify-content: space-between; 
  padding-left: 15%;
  padding-right: 15%;  
}
.botao-com-legenda2 {
  display: inline-block;
  text-align: center;
}
#backButton, #teamsButton {  
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');  
  border: 2px solid black;  
  display: inline-block;  
  font-size: 30%; /* reduzir o tamanho da fonte */
  border-radius: 20px; /* bordas arredondadas */
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* Button print */
#print {
  border: 2px solid black;
  margin: auto;
  padding: 10px 10px;
  /* reduzir o preenchimento */
  display: block;
  font-size: 30%;
  /* reduzir o tamanho da fonte */
  border-radius: 20px;
  /* bordas arredondadas */
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#remove-img {  
  padding: auto;
  border: 2px solid black ;  
  display:block;
  margin-left: auto;
  margin-right: auto;  
  background-color: hsl(0, 15%, 92%);
  background-size: cover;
  text-align: center;  
  color: blue;
  width: 30%;  
}
/* ******gerando lista de presença********* */

.container-principal {
  display: flex;
  font-size: 4vw;
}
.container-principal div{  
  flex: 1;
  font-size: auto;  
  text-align: left;
}
.container-principal h3 {
  font-size: auto;
}


.lista-completa h3 {
  text-align: center;
  padding: 0;
}

.lista-completa ul {
  list-style: none;
  padding-left: 35%;
}

.lista-presente h3 {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.lista-presente ol {
  text-align: left;
  padding-left: 35%;
}

#equipe-azul {
  background-color: rgb(230, 247, 2);
  color: rgb(4, 4, 250);
  text-align: center;
  border-radius: 4px;
  /* bordas arredondadas */
}

.team-list ol {
  padding-left: 35%;
}

#equipe-amarelo {
  background-color: rgb(15, 10, 53);
  color: rgb(255, 255, 0);
  text-align: center;
  border-radius: 4px;
  /* bordas arredondadas */
}


.botao-com-legenda3 {
  display: block;
  text-align: center;
}

.legenda {
  font-size: 30px;
}
#remove-img {  
  cursor: pointer;
  display: block; 
  text-align: center;
  border-radius: 4px;
  background-size: cover;
  border: 2px solid ;
 

  /* 
  margin: 10px 10px 10px 10px;
  display:flow-root;
  background-color: black;
  
  text-align: center;  
  */
}

/************** Media Query ***********/

@media (max-width: 720px){
  body,
html {
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  color: black;
  background-color:#70FF72;
}

#myButton {
  border: 2px solid black;
  margin: auto;
  padding: 10px 10px;
  /* reduzir o preenchimento */
  display: block;
  font-size: 30%;
  /* reduzir o tamanho da fonte */
  border-radius: 20px;
  /* bordas arredondadas */
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.botao-com-legenda {
  display: block;
  text-align: center;
}
.legenda {
  font-size: 14px;
}


.go-back {  
  display: flex;
  justify-content: space-between; 
  padding-left: 15%;
  padding-right: 15%;  
}

.botao-com-legenda2 {
  display: inline-block;
  text-align: center;
}

.legenda {
  font-size: 14px;
}


#backButton, #teamsButton {  
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');  
  border: 2px solid black;  
  display: inline-block;  
  font-size: 30%; /* reduzir o tamanho da fonte */
  border-radius: 20px; /* bordas arredondadas */
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* ***Apresentação das listas */

.container-principal {
  display: flex;
  font-size: 4vw;
}

.container-principal div{  
  flex: 1;
  font-size: auto;  
  text-align: left;
}
.container-principal h3 {
  font-size: auto;
}

#minhaLista {    
  padding-left: 0;
  margin-left: 10px;
}
#minhaListaMarcados {
  margin-left: 2px;
  margin-right: 0px;
}
 

/* *************Equipes************* */
#listaAzul {  
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url("../img/camisetaAzul2.webp");
  background-size: cover;
}
#listaAmarelo {  
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-image: url("../img/camisetaAmarela.webp");
  background-size: cover;
}

#equipe-azul {
  background-color: #70FF72;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  border-radius: 4px;
  /* bordas arredondadas */
}



#equipe-amarelo {
  background-color: #70FF72;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
  border-radius: 4px;
  /* bordas arredondadas */
}

#print {
  border: 2px solid black;
  margin: auto;
  padding: 10px 10px;
  /* reduzir o preenchimento */
  display: block;
  font-size: 30%;
  /* reduzir o tamanho da fonte */
  border-radius: 20px;
  /* bordas arredondadas */
  background-image: url('https://cdn-icons-png.flaticon.com/512/731/731944.png');
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.legenda {
  font-size: 14px;
}

#remove-img {  
  padding: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;  
  background-color: white;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  text-align: center;  
  color:  rgb(222, 90, 0);
  width: 50%;   
  font-size: 25px;  
  
}

}