.container-principal {
  background-color: green;
  width: 100%;
}
.lista-completa{
  background-color: blue;
  width: 49%;
  color: white;
}
.lista-presente {
  background-color: red;
  width: 49%;
  color: white;
}
.container-principal div{
  display: inline-table;
}


@media screen and (max-width: 500px) {

  .container-principal,
  .container-amarelo,
  .container-azul {
    width: 70%;
  }
}

